<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="./style.css" />
    <title>MERN Stack Project : E-Commerce</title>
</head>

<body>
    <div class="container">

        <header>
            <div class="title">
                <button onclick="openMenu()">
                    &#9776;
                </button>
                <a href="index.html">MERN Stack Project : E-Commerce</a>
            </div>
            <div class="log_cart">
                <a href="cart.html">Cart</a>
                <a href="signing.html">Log</a>
            </div>
        </header>

        <aside class="sidebar">
            <h3>Shopping Categories</h3>
            <button class="sidebar-close-button" onclick="closeMenu()">
                X
            </button>
            <ul>
                <li>
                    <a href="index.html">T-shirt</a>
                </li>
                <li>
                    <a href="index.html">Pants</a>
                </li>
            </ul>
        </aside>

        <main>
            <div class="products-container">
                <ul class="products">
                    <li>
                        <div class="product">
                            <img src="pictures/Luffy.jpg" alt="product" />
                            <div class="product-name"><a href="product.html">Luffy Tshirt</a></div>
                            <div class="product-brand">One Piece</div>
                            <div class="product-price">60€</div>
                            <div class="product-rating">4.5 Stars (10 reviews)</div>


                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img src="pictures/Luffy.jpg" alt="product" />
                            <div class="product-name"><a href="product.html">HTML Course</a></div>
                            <div class="product-brand">Brand</div>
                            <div class="product-price">60€</div>
                            <div class="product-rating">4.5 Stars (10 reviews)</div>


                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img src="pictures/Luffy.jpg" alt="product" />
                            <div class="product-name"><a href="product.html">HTML Course</a></div>
                            <div class="product-brand">Brand</div>
                            <div class="product-price">60€</div>
                            <div class="product-rating">4.5 Stars (10 reviews)</div>


                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img src="pictures/Luffy.jpg" alt="product" />
                            <div class="product-name"><a href="product.html">HTML Course</a></div>
                            <div class="product-brand">Brand</div>
                            <div class="product-price">60€</div>
                            <div class="product-rating">4.5 Stars (10 reviews)</div>


                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img src="pictures/Luffy.jpg" alt="product" />
                            <div class="product-name"><a href="product.html">HTML Course</a></div>
                            <div class="product-brand">Brand</div>
                            <div class="product-price">60€</div>
                            <div class="product-rating">4.5 Stars (10 reviews)</div>


                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img src="pictures/Luffy.jpg" alt="product" />
                            <div class="product-name"><a href="product.html">HTML Course</a></div>
                            <div class="product-brand">Brand</div>
                            <div class="product-price">60€</div>
                            <div class="product-rating">4.5 Stars (10 reviews)</div>


                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img src="pictures/Luffy.jpg" alt="product" />
                            <div class="product-name"><a href="product.html">HTML Course</a></div>
                            <div class="product-brand">Brand</div>
                            <div class="product-price">60€</div>
                            <div class="product-rating">4.5 Stars (10 reviews)</div>


                        </div>
                    </li>
                    
                </ul>
            </div>
        </main>

        <footer>
            <p>
                MERN Stack Project : E-Commerce <br/>
                Created by Kassam Ali Asif
            </p>
        </footer>

    </div>
    <script>
        function openMenu() {
            document.querySelector('.sidebar').classList.add('open');
        }
        function closeMenu() {
            document.querySelector('.sidebar').classList.remove('open');
        }
    </script>
</body>

</html>