<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="./style.css" />
    <title>MERN Stack Project : E-Commerce</title>
</head>

<body>
    <div class="container">

        <header>
            <div class="title">
                <a href="index.html">MERN Stack Project : E-Commerce</a>
            </div>
            <div class="log_cart">
                <a href="cart.html"><span>Cart</span></a>
                <a href="signing.html"><span>Log</span></a>
            </div>
        </header>

        <main>
            <ul>
                <li>Product 1</li>
                <li>Product 2</li>
                <li>Product 3</li>
                <li>Product 4</li>
                <li>Product 5</li>
                <li>Product 6</li>
            </ul>

        </main>

        <footer>
            <p>
                MERN Stack Project : E-Commerce <br/>
                Created by Kassam Ali Asif
            </p>
        </footer>

    </div>
</body>

</html>